/* Marker setup */
.awesome-number-marker {
	/* background: url('../img/blue_pin_v2.webp') no-repeat;
    background-size: contain;
    background-position: center; */
	width: 35px;
	height: 46px;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	text-align: center;
}

.awesome-number-marker i {
	color: #333;
	/* margin-top: 10px;
  margin-left: 10px; */
	display: inline-block;
	font-size: 20px;
}

.awesome-number-marker .icon-white {
	color: #fff;
}

.awesome-number-marker-icon-lightred {
	background-position: -360px 0;
}

.awesome-number-marker-icon-beige {
	background-position: -396px 0;
}

.awesome-number-marker-icon-green {
	background-position: -72px 0;
}

.awesome-number-marker-icon-darkgreen {
	background-position: -252px 0;
}

.awesome-number-marker-icon-lightgreen {
	background-position: -432px 0;
}

.awesome-number-marker-icon-blue {
	background: url('../img/colorPin/DarkBlue_Without_Dot.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-darkblue {
	background-position: -216px 0;
}

.awesome-number-marker-icon-purple {
	background-position: -144px 0;
}

.awesome-number-marker-icon-darkpurple {
	background-position: -288px 0;
}

.awesome-number-marker-icon-pink {
	background-position: -504px 0;
}

.awesome-number-marker-icon-cadetblue {
	background-position: -324px 0;
}

.awesome-number-marker-icon-white {
	background-position: -574px 0;
}

.awesome-number-marker-icon-grey {
	background: url('../img/colorPin//DarkGrey.webp') no-repeat center/contain;
	/* background-position: -648px 0; */
}

.awesome-number-marker-icon-lightgray {
	background-position: -612px 0;
}

.awesome-number-marker-icon-black {
	background: url('../img/colorPin/Black.webp') no-repeat center/contain;
	/* background-position: -682px 0; */
}

.awesome-number-marker-icon-slateblue {
	background: url('../img/colorPin/slateblue_without_dot.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-lightblue {
	background: url('../img/colorPin/lightblue_without_dot.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-tan {
	background: url('../img/colorPin/tan_without_dot.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-yellowgreen {
	background: url('../img/colorPin/yellowgreen_without_dot.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-orange {
	background: url('../img/colorPin/orange_without_dot.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-blackRound {
	background: url('../img/colorPin/black_round.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-whiteRound {
	background: url('../img/colorPin/white_round.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-person {
	background: url('../img/peoplePin/person.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-personAlert {
	background: url('../img/peoplePin/person_alert.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-personSos {
	background: url('../img/peoplePin/person_sos.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-forbidden {
	background: url('../img/colorPin/forbidden.webp') no-repeat center/contain;
}
