/* Marker setup */
.awesome-number-marker {
	width: 35px;
	height: 46px;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	text-align: center;
}

.awesome-number-marker i {
	color: #333;
	display: inline-block;
	font-size: 20px;
}

.awesome-number-marker .icon-white {
	color: #fff;
}

.awesome-number-marker-icon-lightred {
	background-position: -360px 0;
}

.awesome-number-marker-icon-beige {
	background-position: -396px 0;
}

.awesome-number-marker-icon-green {
	background-position: -72px 0;
}

.awesome-number-marker-icon-darkgreen {
	background-position: -252px 0;
}

.awesome-number-marker-icon-lightgreen {
	background-position: -432px 0;
}

.awesome-number-marker-icon-purple {
	background-position: -144px 0;
}

.awesome-number-marker-icon-darkpurple {
	background-position: -288px 0;
}

.awesome-number-marker-icon-pink {
	background-position: -504px 0;
}

.awesome-number-marker-icon-cadetblue {
	background-position: -324px 0;
}

.awesome-number-marker-icon-white {
	background-position: -574px 0;
}

.awesome-number-marker-icon-lightgray {
	background-position: -612px 0;
}

.awesome-number-marker-icon-BlackRound {
	background: url('../img/colorPin/BlackRound.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-WhiteRound {
	background: url('../img/colorPin/WhiteRound.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-BlackWithDot {
	background: url('../img/colorPin/BlackWithDot.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-GrayWithDot {
	background: url('../img/colorPin/GrayWithDot.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-Forbidden {
	background: url('../img/colorPin/Forbidden.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-Gray {
	background: url('../img/colorPin/Gray.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-LightBlue {
	background: url('../img/colorPin/LightBlue.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-Orange {
	background: url('../img/colorPin/Orange.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-SlateBlue {
	background: url('../img/colorPin/SlateBlue.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-SteelBlue {
	background: url('../img/colorPin/SteelBlue.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-Tan {
	background: url('../img/colorPin/Tan.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-YellowGreen {
	background: url('../img/colorPin/YellowGreen.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-SOS {
	background: url('../img/colorPin/SOS.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-Alert {
	background: url('../img/peoplePin/PersonAlert.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-PersonLightBlue {
	background: url('../img/peoplePin/PersonLightBlue.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-PersonOrange {
	background: url('../img/peoplePin/PersonOrange.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-Person {
	background: url('../img/peoplePin/Person.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-PersonSlateBlue {
	background: url('../img/peoplePin/PersonSlateBlue.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-PersonSteelBlue {
	background: url('../img/peoplePin/PersonSteelBlue.webp') no-repeat
		center/contain;
}

.awesome-number-marker-icon-PersonTan {
	background: url('../img/peoplePin/PersonTan.webp') no-repeat center/contain;
}

.awesome-number-marker-icon-PersonYellowGreen {
	background: url('../img/peoplePin/PersonYellowGreen.webp') no-repeat
		center/contain;
}
