@media (max-width: 575.98px) {
    .submitIcon{
        width: 18px;
    }
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .FrequentSearchobjectImage{
        width:100px;
        height: 100px;
    }
    
    .FrequentSearchTitle{
        font-size: 36px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .FrequentSearchButton{
        font-size: 20px;
    }
   
    .FrequentSearchobjectImage{
        width:100px;
        height: 100px;
    }
    
    .FrequentSearchTitle{
        font-size: 36px;
    }

    .FrequentSearchList{
        height: 60vh;
    }
  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .submitIcon{
        width: 22px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .submitIcon{
        width: 30px;
    }

}