@media (max-width: 575.98px) {
    .resultText{
    	font-size: 12px;
        text-align: center;
    }
    .objectImage{
        display: none
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   	.resultText{
    	
    }
    .objectImage{
        width: 30px;
        height: 30px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.resultText{
    	font-size: 20px;
    } 
    .objectImage{
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
   .resultText{
    	font-size: 16px;
    }
    .objectImage{
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .resultText{
    	font-size: 20px;
    }
    .objectImage{
        width: 70px;
        height: 70px;
    }
}
